# Dependencies
node_modules/

# Production build
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Mac files
.DS_Store

# Credentials
credentials.json
